.card{
  border-radius: 8px;
  &-category{
    padding-right: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    
    overflow: hidden;
    margin-bottom: 1rem;
    .imgbox{
      width: 45%;
      height: 7.5rem;
      position: relative;

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        object-position: bottom;
      }
    }

    
    h4{
      color: $dark;
      font-weight: 300;
      
    }
  }
}


//product description page 


.product{

  &-highlight{
    position: relative;
    &:after{
      content:'';
      display: block;
      width: 85%;
      height: calc(100% - 3rem);
      background-color: white;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      border-radius: 24px 0 0 24px;
    }

    .imgbox{
      height: 960px;
      width: 540px;
      margin-left: 4rem;
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: bottom;
      }
    }

    h6{
      position: absolute;
      right: 1.5rem;
      font-weight: 900;
      font-size: 1rem;
      bottom: 4rem;
    }

    button{
      position: absolute;
      bottom: -.5rem;
      right: 0;
      min-width: 5.3125rem;
      font-size: .75rem;
      text-align: left;
      border-radius: .25rem;
    }

  }

  &-navigation{
    width: 180px;
    height: 250px;
    
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin-top: 2rem;
    }
  }
}

//slick slider customization

.slick-thumb{
  .slick-current{
    position: relative;
    &:before{
      content:' ';
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 1px;
      left: 50%;
      transform: translateX(-95%);
      
      
      border-top: 0;
      border-right: 40px solid transparent;
      border-bottom: 40px solid $yellow;
      border-left: 40px solid transparent;
    }

    
  }
}

//bubble image

.img{

  &-bubble{
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
  }

}