.home {
  .imgbox {
    width: 100%;
    height: 32rem;
    padding-bottom: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .btn{
    border-radius: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    font-size: .75rem;
    padding: 1rem 1rem 1rem 1.5rem;
  }
}